.container {
  height: 100vh;
  padding: 1.5rem 5rem;
  margin-top: 100px;
}
.profileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

label {
  font-size: 0.8rem;
  color: gray;
  display: block;
}

.title {
  font-size: 1rem;
  color: gray;
}

.content {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.65rem 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: white;
  margin-bottom: 1rem;
}
