/* Navbar.module.css */

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.navbarBrand > * {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease;
}

.navbarNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0 3rem;
}

.navLink {
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: center;
}

.navLink:hover {
  color: #007bff;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}
.dropdownMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownItem {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}
